<h1>Parent</h1>
<div class="row">
<div class="col first-box">
<h2>User</h2>
<table width="100%">
<tr>
<th>User Name :</th>
<th class="recha">Remove</th>
</tr>
<tr *ngFor="let user of users , index as i">
<td >{{user}}:</td>
<td class="recha" (click) = "onRemoveUser(i)">Remove</td>
</tr>


</table>
</div>

<div class="col first-box">
<h2>Admin</h2>
<table width="100%">
<tr>
<th>User Name :</th>
<th class="recha">Remove</th>
</tr>
<tr *ngFor="let admin of admins, index as i">
<td>{{admin}} :</td>
<td class="recha" (click) = "onRemoveAdmin(i)">Remove</td>
</tr>


</table>
</div>

</div>

<h1>Child</h1>
<hr>
<div class="row">
<app-child [boxColor]="'red'" [placeholderText]="'Create User'"
(inputEvent)="pushUser($event)"
></app-child>
<app-child [boxColor]="'green'"
(inputEvent)="pushAdmin($event)"
[placeholderText]="'Create Admin'"></app-child>
</div>
