.box{
  background: #f8f8ff;
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  width: 400px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}
input {
  background: #fff;
  border: 2px solid #f4f4f4;
  display: block;
  font-size: 18px;
  width: 80%;
  padding: 10px 12px;
}


button {
  background:#28a745;
  font-size: 15px;
  color: #fff;
  padding: 8px 12px;
  border: 0;
  border-radius: 10px;
  margin: 5px auto;
  display: inline-block;
  width: auto;
}
.count{
  text-align: left;
}

.boxRed{
  background: #fff7f3;
  border: 1px solid #f75e0b;
}
.boxGreen{
  background: #f4fbf6;
  border: 1px solid #28a745;
}